@font-face {
    font-family: 'Mathreal';
    src: url('/fonts/Mathreal.ttf') format('truetype');
}
@font-face {
    font-family: 'Hanged Letters';
    src: url('/fonts/Hanged Letters.ttf') format('truetype');
}

@font-face {
    font-family: 'Hearty Sacred';
    src: url('/fonts/Hearty Sacred.otf') format('opentype');
}

@font-face {
    font-family: 'Hello Honey';
    src: url('/fonts/hello honey.otf') format('opentype');
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #29470c;
}

html {
    position: relative;
    min-height: 100%;
}
title {
    font-family: 'Hello Honey', cursive;
}


body {
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
}



.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

a {
    color: #2d6732;
    text-decoration: none;
}

h1 {
    font-family: 'Mathreal', serif;
    color: #4b324d;
    text-shadow: #000 1px 1px 3px;
}

h2 {
    font-family: 'Hanged Letters', sans-serif;
}

h3 {
    font-family: 'Hearty Sacred', serif;
}

/* Main Index page (site home)*/
.scrollContainer {
    background-color: #eee;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

    .scrollContainer img {
        margin: 10px;
        max-height: 300px;
        max-width: 300px;
        flex: none;
    }

    .scrollContainer div {
        height: 300px;
        width: 300px;
        padding: 10px;
        white-space: normal;
        text-align: center;
        background-color: #bfc1bf;
        flex: none;
    }
.blurb {
    width: 70%;
    margin: 10px auto;
    padding: 10px;
    border-radius: 20px;
    background-color: #4b324d8A;
    text-align: center;
    box-shadow: #
}
.left {
    width: 50%;
    display: inline-block;
    float: left;
    background-color: #eee;
    margin: 50px auto;
    padding: 20px;
    height: 300px;
}

.right {
    width: 50%;
    display: inline-block;
    float: right;
    background-color: #ddd;
    margin: 50px auto;
    padding: 20px;
    height:300px;
}

.event {
    background-color: #6e3a7aAA;
    box-shadow: #000 3px 3px 5px 3px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 10px;
    text-align: center;
}
.eventDetails {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
}

/* InventoryItem/Index page */

.indexContainer {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.indexItem {
    flex: 1 0 auto;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: #34482E 1px 1px 3px;
    padding: 10px;
    background-color: #eee;
    align-items: stretch;
}

    .indexItem a {
        text-shadow: #34482E 1px 1px 1px;
    }


.filterBtnContainer {
    flex-flow: column nowrap;
    background-color: #cacaca;
    padding: 10px;
    border-radius: 6px;
    box-shadow: #000000c6 -2px 2px 2px;
    
}

.filterButton {
    background-color: #fff;
    box-shadow: #000 -2px 2px 2px;
    color: #6e3a73;
}

    .filterButton:hover {
        background-color: #4b324d;
        box-shadow: #000 -2px 2px 2px;
        transform: translate(-2px, 2px);
        color: #fff;
    }

     .active {
        background-color: #4b324d !important;
    }
}

/**/
