html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #29470c;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

a {
    color: #2d6732;
}


/*
.carousel {
    
    max-width: 600px; 
    margin: auto;
    overflow: hidden;
    padding: 5px;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
    max-height: 400px;
    max-width: 400px;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
*/

/* Main Index page (site home)*/
.scrollContainer {
    background-color: #eee;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

    .scrollContainer img {
        margin: 10px;
        max-height: 300px;
        max-width: 300px;
        flex: none;
    }

    .scrollContainer div {
        height: 300px;
        width: 300px;
        padding: 10px;
        white-space: normal;
        text-align: center;
        background-color: #bfc1bf;
        flex: none;
    }

.left {
    width:50%;
    display: inline-block;
    float:left;
    background-color:#eee;
    margin:50px auto;
    padding:20px;
}

.right {
    width: 50%;
    display: inline-block;
    float: right;
    background-color: #ddd;
    margin: 50px auto;
    padding: 20px;
}

/* InventoryItem/Index page */

.indexContainer {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.indexItem {
    flex: 0 0 auto;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    margin: auto;
}

    .indexItem img {
        max-width: 300px;
        height: auto;
    }
