@page
@model StitchWitches.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<p>Some text here blah blah blah</p>

<h2>Taylor</h2>
<div class="left">
    <p>This is our individual bio description </p>
</div>
<div class="right">
    <p>test</p>
</div>

<h2>Megan</h2>
<div class="left">
    <p>test</p>
</div>
<div class="right">
    <p>This is our individual bio description </p>
</div>
<h2>Landis</h2>
<div class="left">
    <p>This is our individual bio description </p>
</div>
<div class="right">
    <p>test</p>
</div>
