@page
@model StitchWitches.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>

<p>Some text here blah blah blah</p>

<h2>Taylor</h2>
<p>This is our individual bio description </p>
<h2>Megan</h2>
<p>This is our individual bio description </p>
<h2>Landis</h2>
<p>This is our individual bio description </p>