@page
@model StitchWitches.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

<h1>Meet the Stitch Witches!</h1>

<p>We are three women from North Carolina that have a passion for the fiber arts! We primarily crochet, but we also occasionally will knit, embroider, and sew when the mood strikes. 
    We each have our own preferences for the types of projects we enjoy making the most, techniques we like to use, and unique styles of crocheting! </p>
<p><strong>Did you know?</strong> Crochet is one of the few things left in our modern world that cannot be automated! Knitting machines have existed for decades and can replicate the look of hand-knit garments, but there has never been a machine invented that is capable of crocheting to the same level a human can. 
     </p>
    <p>Each crocheted item is made 100% by our hands, with many hours and lots of love poured into each project.  </p>

<h3>Taylor</h3>
<div class="left">
    <p>Charlotte, NC </p>
</div>
<div class="right">
    <ul>
        <li> Small, useful items (keychains, headbands, bottle and can coozies)</li>
    </ul>
</div>

<h3>Megan</h3>
<div class="left">
    <ul>
        <li>Sweaters & cardigans</li>
        <li>XL Scrunchies</li>
    </ul>
</div>
<div class="right">
    <p>Raleigh, NC </p>
</div>
<h3>Landis</h3>
<div class="left">
    <p>Sanford, NC </p>
</div>
<div class="right">
    <ul>
        <li>Stuffed animals ("Amigurmi")</li>
        <li>Tapestries</li>
    </ul>
</div>
