
@page
@model StitchWitches.Pages.InventoryItems.CreateModel
@using StitchWitches.Models


        @{
        ViewData["Title"] = "Create";
        }
        
        <h1>Create</h1>
        
    <h4>InventoryItem</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventoryItem.Name" class="control-label"></label>
                <input asp-for="InventoryItem.Name" class="form-control" />
                <span asp-validation-for="InventoryItem.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItem.Description" class="control-label"></label>
                <input asp-for="InventoryItem.Description" class="form-control" />
                <span asp-validation-for="InventoryItem.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItem.Quantity" class="control-label"></label>
                <input asp-for="InventoryItem.Quantity" class="form-control" />
                <span asp-validation-for="InventoryItem.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItem.Price" class="control-label"></label>
                <input asp-for="InventoryItem.Price" class="form-control" />
                <span asp-validation-for="InventoryItem.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InventoryItem.CreatedBy" class="control-label"></label>
                <select asp-for="InventoryItem.CreatedBy" asp-items="Html.GetEnumSelectList<MakerEnum>()" class="form-control"></select>
                <span asp-validation-for="InventoryItem.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
