@page
@model StitchWitches.Pages.InventoryItems.UploadImageModel

@{
    ViewData["Title"] = "UploadImage";
}

<h1>UploadImage</h1>

<h4>InventoryItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
      <form method="post" enctype="multipart/form-data">
          <label asp-for="ImgUpload"></label>
          <input asp-for="ImgUpload" type="file" />
          <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" />
      </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
